.main-container {
    color: black;
}


#mylogo {
    display: block;
    width: 200px;
    height: 200px;
    background: url('./../assets/spritesheet.png?sprite') 0px 0px;   
    margin: auto;
    top: 60px;
}

#mybuttons, #content {
    display: block;
    top: -120px;
}

#my-date {
    font-size: 80%;
}