.grid-container {
    display: grid;
    /* grid-template-areas: 'left center right'; */
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 100%;
    position:absolute;
    top: 0px;
    color: white;
    font-size: 24px;
    background-color: black;
}